//Primer esquema de colores listo
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Segundo esquema de colores listo
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Tercer esquema de colores listo
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografía listas
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', serif;

//Peso de fuentes
$regular: 400;
$black-italic: 600;
$bold: 700;

//Tamaño fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
