.naomi{
  width: 10rem;
  margin-left: 50%;
}
@media screen and (max-width: 576px){
  .naomi{
    width: 8rem;
    margin-left: 25%;
    margin-top: 10%;
  }
}

.card-bloque{
  padding-top: 3%;
  padding-bottom: 3%;
}

.card-body{
  line-height: 30px;
  margin-left: 60px;
  margin-top: 15px;
}

.card-body2{
  line-height: 30px;
  margin-top: 30px;
}

.card-title {
  font-size: $bold;
  font-weight: $x-large;
  font-style: italic;
}

.card-text{
  margin: -5px;
}

.card-text__02{
  margin: -5px;
  margin-bottom: 10px;
}
